[tests][playready]
key = b1Wnx49V07a1IafqvYRbVcUsD5F7bj26Mkbt4MzAtBU=
iv = h3jAqQOGlps/swgz5b0Kww==
provider = kaltura
provider_sign_key = jernkVsZ6j3LheMnStCAVmSncyXDBBmVSGfcWr1WQAA=
files = 0_cftajt0y
content_id = 0_g6d82oug
ca_system = ovp
account_id = 101
seed = rJmT2nTj7acd99aNpVjDYuRPs8tHGt6q80yWpaLA
expected_keyId = gvBV+PjG5KotD4RAe0iSrA==
expected_key = 7imCtjuQz07Y/imNBWumCw==
expected_uuid = 9a04f079-9840-4286-ab92-e65be0885f95
expected_data = PABXAFIATQBIAEUAQQBEAEUAUgAgAHYAZQByAHMAaQBvAG4APQAiADQALgAwAC4AMAAuADAAIgAgAHgAbQBsAG4AcwA9ACIAaAB0AHQAcAA6AC8ALwBzAGMAaABlAG0AYQBzAC4AbQBpAGMAcgBvAHMAbwBmAHQALgBjAG8AbQAvAEQAUgBNAC8AMgAwADAANwAvADAAMwAvAFAAbABhAHkAUgBlAGEAZAB5AEgAZQBhAGQAZQByACIAPgA8AEQAQQBUAEEAPgA8AFAAUgBPAFQARQBDAFQASQBOAEYATwA+ADwASwBFAFkATABFAE4APgAxADYAPAAvAEsARQBZAEwARQBOAD4APABBAEwARwBJAEQAPgBBAEUAUwBDAFQAUgA8AC8AQQBMAEcASQBEAD4APAAvAFAAUgBPAFQARQBDAFQASQBOAEYATwA+ADwASwBJAEQAPgArAEYAWAB3AGcAcwBiADQAcQB1AFEAdABEADQAUgBBAGUAMABpAFMAcgBBAD0APQA8AC8ASwBJAEQAPgA8AEMASABFAEMASwBTAFUATQA+ADYAYQA0AGYATgBaAHMAQgA8AC8AQwBIAEUAQwBLAFMAVQBNAD4APABMAEEAXwBVAFIATAA+AGgAdAB0AHAAOgAvAC8AdQBiAHUAbgB0AHUAZAByAG0ALwBjAGUAbgBjAC8AcABsAGEAeQByAGUAYQBkAHkALwBsAGkAYwBlAG4AcwBlADwALwBMAEEAXwBVAFIATAA+ADwATABVAEkAXwBVAFIATAA+AGgAdAB0AHAAOgAvAC8AdwB3AHcALgBrAGEAbAB0AHUAcgBhAC4AYwBvAG0APAAvAEwAVQBJAF8AVQBSAEwAPgA8AC8ARABBAFQAQQA+ADwALwBXAFIATQBIAEUAQQBEAEUAUgA+AA==

[tests][widevine]
key = b1Wnx49V07a1IafqvYRbVcUsD5F7bj26Mkbt4MzAtBU=
iv = h3jAqQOGlps/swgz5b0Kww==
provider = kaltura
provider_sign_key = jernkVsZ6j3LheMnStCAVmSncyXDBBmVSGfcWr1WQAA=
files = 0_cftajt0x
content_id = 0_g6d82oug
ca_system = ovp
account_id = 2621
seed = rJmT2nTj7acd99aNpVjDYuRPs8tHGt6q80yWpaLA
expected_keyId = ongd6sHs/QaD1tk2RbYsMg==
expected_key = vYSe0cNYP1gMfaG80yiIpg==
expected_uuid = edef8ba9-79d6-4ace-a3c8-27dcd51d21ed
expected_data = CAESEKJ4HerB7P0Gg9bZNkW2LDIaB2thbHR1cmEiCjBfZzZkODJvdWcqBVNEX0hE
seed = rJmT2nTj7acd99aNpVjDYuRPs8tHGt6q80yWpaLA